<!DOCTYPE html>
<html>
  <head>
    <title>TableOuverte</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('ouverte-fav.png') %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap',
        media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= yield %>
      

    <footer>
      <div class="resources">
        <div class="sources"> 
          Created logo at 
          <a href="https://logomakr.com/" target="_blank">LogoMakr.com</a> 
           
        
          <p>Icons made by </p>
          <p>
            <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry" target="_blank">Kiranshastry ,</a>
            <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank">Pixel perfect</a> 
            & <a href="http://www.freepik.com/" title="Freepik" target="_blank">Freepik</a>
          </p>

          <p>from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a></p>
          <p>Home image by<a href="https://unsplash.com/@nilsjakob" target="_blank"> Nils Stahl</a> </p>
          
        </div>

        <div class="external-links"> 
        
          <a href="https://www.linkedin.com/in/malcolm-r-333b21126" target="_blank"><img src="<%= asset_url('linkedin.svg') %>" alt="linkedin"height="50"></a>
          <a href="https://github.com/xalcolm1" target="_blank"><img src="<%= asset_url('github.svg') %>" alt="github" height="50"></a>

         
                                
        </div>
      </div>
    </footer>
  </body>

</html>   
