<!DOCTYPE html>
<html>
  <head>
    <title>TableOuverte</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('ouverte-fav.png') %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap',
        media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= yield %>
      

    <footer>
      <div class="resources">
        <p class="sources"> 
          scources:
          <br/>
          Created logo at 
          <a href="https://logomakr.com/">LogoMakr.com</a> 
          <br/>
          image by Nils Stahl
          <br/><br/>
          Icons made by <br/>  
          <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry ,</a>
          <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> 
          & <a href="http://www.freepik.com/" title="Freepik">Freepik</a><br/>
          from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </p>

        <p class="external-links"> 
        
        <br/>
          <a href="https://www.linkedin.com/in/malcolm-r-333b21126"><img src="<%= asset_url('linkedin.svg') %>" alt="linkedin"height="50"></a>
          <a href="https://github.com/xalcolm1"><img src="<%= asset_url('github.svg') %>" alt="github" height="50"></a>

         
                                
        </p>
      </div>
    </footer>
  </body>

</html>   
