<!DOCTYPE html>
<html>
  <head>
    <title>TableOuverte</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favi-ouverte.png') %>
  </head>

  <body>
    <%= yield %>

    <footer>

    <h6>Created logo at LogoMakr.com</h6>
      
    </footer>
  </body>

</html>   
