<!DOCTYPE html>
<html>
  <head>
    <title>TableOuverte</title>
    <link rel="icon" href="app/assets/images/LogoMakr-6sokiI.png" type="image/png" >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <footer>

    <h6>Created logo at LogoMakr.com</h6>
      
    </footer>
  </body>

</html>   
