<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="TableOuverte" />
    <meta property='og:image' content="<%= image_url('tableouverte_photos/main_page.png') %>"/>
    <meta 
      property="og:description"
      content="TableOuverte is a restaurant booking application, and also a fullstack clone of OpenTable."
    />
    <meta 
      property="og:url"
      content="https://tableouverte.herokuapp.com/"
    />
    <title>TableOuverte</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('ouverte-fav.svg') %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap',
        media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= yield %>
      

    <footer>
      <div class="resources">
        <div class="sources"> 
          <div >
            <p>icon credits</p>

              <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry" target="_blank">Kiranshastry</a>
              <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank">Pixel perfect</a>
              <a href="http://www.freepik.com/" title="Freepik" target="_blank">Freepik</a>
              <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>

          </div>
          <div>
            <p>Image credits</p>
            
            <a href="https://unsplash.com/@nilsjakob" target="_blank"> Nils Stahl</a>
            <a href="https://unsplash.com" target="_blank">Markus Winkler</a>
            <a href="https://unsplash.com" target="_blank">Kvnga</a>
            <a href="https://unsplash.com" target="_blank">Dave Kim</a>
            <a href="https://unsplash.com" target="_blank">Takehiro Tomiyama</a>
            <a href="https://unsplash.com" target="_blank"> Spencer Davis</a>
            <a href="https://unsplash.com" target="_blank"> Baiq Daling</a>
            <a href="https://unsplash.com" target="_blank"> Clay Banks</a>
            <a href="https://unsplash.com" target="_blank">cheng feng</a>
            <a href="https://unsplash.com" target="_blank"> Bao Menglong </a>
            <a href="https://unsplash.com" target="_blank">  Juan Rojas</a>
            <a href="https://unsplash.com" target="_blank"> Aleksander Sadowski</a>
            <a href="https://unsplash.com" target="_blank"> Andres Medecigo</a>
            <a href="https://unsplash.com" target="_blank"> Bundo Kim</a>
            <a href="https://unsplash.com" target="_blank"> Arifuddin Rahmad</a>
            <a href="https://unsplash.com" target="_blank"> Cinzia Orsina</a>
            <a href="https://unsplash.com" target="_blank"> MChe Lee</a>
            <a href="https://unsplash.com/@danielesalutari" target="_blank"> Daniele Salutari</a>


         

      



          




          </div>
          <div class="external-links"> 
        
            <a class="personalLink" href="https://www.linkedin.com/in/malcolm-r-333b21126" target="_blank"><img src="<%= asset_url('linkedin.svg') %>" alt="linkedin"height="50"></a>
            <a class="personalLink" href="https://github.com/xalcolm1" target="_blank"><img src="<%= asset_url('github.svg') %>" alt="github" height="50"></a>
            <a class="personalLink" href="https://angel.co/u/malcolm-reyes" target="_blank"><img src="<%= asset_url('angellist.svg') %>" alt="angellist" height="50"></a>
          </div>
         
        </div>

        
      </div>
    </footer>
  </body>

</html>   
